version: '{build}'
branches:
  only:
  - master
image: Visual Studio 2015
environment:
  myget_apikey:
    secure: KpFpQ6mHOGMC9uWthYq91MxqWkYy522sUArvlA/27Rt2lKtKUe5Bpal2U8rRWW2V
build_script:
- ps: |
    $versionSuffix = "alpha{0:000}" -f [convert]::ToInt32($env:APPVEYOR_BUILD_VERSION)
    .\build.ps1 -versionSuffix="$versionSuffix"
    if($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode ) }
test: off
artifacts:
- path: artifacts\*.nupkg
  name: NuGet package
- path: artifacts\*.vsix
  name: Visual Studio Extensions
deploy:
- provider: NuGet
  server: https://www.myget.org/F/okra/
  api_key:
    secure: KpFpQ6mHOGMC9uWthYq91MxqWkYy522sUArvlA/27Rt2lKtKUe5Bpal2U8rRWW2V
  artifact: 
  symbol_server: http://nuget.gw.symbolsource.org/MyGet/okra/